<html ng-app="app">
<head>
	<title>Ex03</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="index.controller.js"></script>
	<script type="text/javascript" src="doce.service.js"></script>
</head>
<body ng-controller="IndexController">
	<input ng-model="name" type="text">
	{{name}}

	<table>
		<tr ng-repeat="doce in doces">
			<td> {{doce.nome}} </td>
			<td> {{doce.cor}} </td>
		</tr>
	</table>

</body>
</html>