* {
	margin:0;
	padding: 0;
}

html, body {
	height: 100%;
}

.margin {
    margin: 0 auto
}

.tamanho {
    width: 1100px;
    max-width: 90%
}

table {
	width: 100%;
}

tr {
	height: 50px;
}

div button {
	float: none;
}

.formu {
	display: flex;
    flex-wrap: wrap;
	width: 100%;
    flex-direction: column
}

.item1 {
    flex-grow: 1;
    flex-basis: 300px;
}

.item2 {
    flex-grow: 1;
    flex-basis: 500px;
}

.container {
    height: 300px;
    width: 100%;
    display: flex
}

.container-form {
    display: flex
}
.form-box {
    flex-grow: 1;
    margin: 10px;
    flex-basis: 500px;
}
.box {
    flex-wrap: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px
}