<html ng-app="app">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/index.controller.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="    sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Teste ANGULAR</title>
</head>
<body ng-controller="IndexController">
	<div class="formu">
	    <div class="item1"> 
	        <form name="prodForm" ng-submit="salvar(produto)">
	        	<p><input type="text" class="form-control" name="nome" ng-model="produto.nome" ng-minlength="5" required><span ng-if="prodForm.nome.$invalid"> Informe o nome!</span></p>
	        	<p><input type="num" class="form-control" name="preco" ng-model="produto.preco" ng-minlength="3" required><span ng-if="prodForm.preco.$invalid"> Informe o preço!</span></p>
	        	<p><input type="number" class="form-control" name="quantidade" ng-model="produto.quantidade" min="0" required><span ng-if="prodForm.quantidade.$invalid"> Informe a quantidade!</span></p>
	        	<p><button type="submit" class="btn btn-success" ng-disabled="prodForm.$invalid">Salvar</button>
	        </form>
	    </div>
	    <div class="item2">
	        <table class="table-striped">
	        	<tr>
	        		<th>NOME</th>
	        		<th>PREÇO</th>
	        		<th>QUANTIDADE</th>
	        		<th>REMOVER</th>
	        		<th>ALTERAR</th>
	        	</tr>
	        	<tr ng-repeat="x in produtos track by $index">
	        		<td>{{x.nome}}</td>
	        		<td>{{x.preco}}</td>
	        		<td>{{x.quantidade}}</td>
	        		<td><button ng-click="remover(x)" class="btn btn-danger">Remover</button></td>
	        		<td><button ng-click="editar(x)" class="btn btn-warning">Editar</button></td>
	        	</tr>
	        </table>
	    </div>     	
    </div>
</body>
</html>