<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/indexController.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Teste</title>
        
    </head>
    <body ng-controller="IndexController">
        
        <form name="cadForm" ng-submit="salvar()">
            <input type="text" name="nome" ng-model="elemento.nome" ng-minlength="5" required>
            <input type="text" name="cidade" ng-model="elemento.cidade" ng-minlength="5" required><br>
            $dirty -> {{cadForm.nome.$dirty}}<br>
            $invalid -> {{cadForm.nome.$invalid}}<br>
            
            <button class="btn btn-default" type="submit" ng-disabled="cadForm.$invalid">Salvar</button>
        </form>
        
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Remover</th>
            </tr>
            <tr>
                <td><input type="text" name="name" ng-model="name" required></td>
                <td><input type="text" name="city" ng-model="city" required></td>
            </tr>
            <tr ng-repeat="x in lista | filter: name | filter: city">
                <td>{{x.nome}}</td>
                <td>{{x.cidade}}</td>
                <td><button class="btn btn-default" ng-click="remover(x)">Remover</button></td>
            </tr>
        </table>
    </body>
</html>